.Rhistory
.RData
.Ruserdata
.Renviron
.Rproj.user/
renv/library/
renv/staging/
*.Rproj

data/raw/*.csv
data/processed/*.csv
outputs/figures/*
outputs/tables/*
/*.pdf

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep

.DS_Store
Thumbs.db
